<div class="header">
  <div class="logo" click-href="index.html">
    library_ui
  </div>
  <div class="menu">
    <ul>
      <li><a href="index.html"><i class="material-icons">home</i> Przeglądaj</a></li>
      <li><span onclick="searchToogle();"><i class="material-icons">search</i> Wyszukaj</span></li>
      <li><a href="contact.html"><i class="material-icons">room</i> Biblioteka</a></li>
      <li id="loggedin"><span onclick="logout();"><i class="material-icons">account_circle</i> <span id="loginname"></span></span></li>
      <li id="login"><a href="login.html"><i class="material-icons">account_circle</i> Logowanie</a></li>
    </ul>
  </div>
</div>
