body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.container {
  width: 1000px;
  margin: auto;
  margin-top: 25px;
  //margin-bottom: 25px;
}

.header {
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  background-color: #EEE;
  box-shadow: 2px 2px 5px #DDD;
}

.logo {
  float: left;
  width: auto;
  color: #444;
  margin-left: 25px;
  font-size: 24px;
  cursor: pointer;
  text-shadow: 2px 2px 2px #DDD;
}

.logo:hover {
  color: #666;
  text-shadow: -2px -2px 2px #DDD;
}

.menu {
  float: right;
  height: 35px;
}

.menu ul {
  margin: 0;
}

.menu li {
  display: inline;
  line-height: 35px;
  vertical-align: middle;
  margin-right: 15px;
}

.menu span {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  text-shadow: 1px 1px 2px #DDD;
}

.menu span:hover {
  text-shadow: -1px -1px 2px #DDD;
  color: #666;
}

.menu a {
  color: #333;
  text-decoration: none;
  text-shadow: 1px 1px 2px #DDD;
}

.menu a:visited {
  color: #333;
}

.menu a:hover {
  text-shadow: -1px -1px 2px #DDD;
  color: #666;
}

.footer {
  margin: auto;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #333;
  color: #EEE;
  text-align: right;
  font-size: 12px;
  text-shadow: 1px 1px 2px #666;
}

.row {
  width: 100%;
}

.col {
  width: 300px;
  margin-left: 15px;
  margin-bottom: 25px;
  display: inline-block;
  padding: 5px;
  box-shadow: 2px 2px 5px #333;
  vertical-align: top;
  cursor: pointer;
}

.col:active {
  box-shadow: -2px -2px 5px #333;
}

.col:hover {
  background-color: #f8f8f8;
}

.col .book-opis {
  margin-left: 5px;
  width: 155px;
  display: inline-block;
  height: inherit;
  vertical-align: top;
  word-wrap: break-word;
  text-align: justify;
}

.col .book-img {
  height: 180px;
}

.status {
  height: 5px; width: 100%;
}

.active {
  background-color: #00ff00;
}

.inactive {
  background-color: red;
}

.ordered {
  background-color: orange;
}

.material-icons {
  vertical-align: middle;
}

#search {
  width: 100%;
  text-align: right;
  height: 30px;
}

#search div {
  border: 1px solid #333;
  border-radius: 20px;
  display: inline-block;
  margin: 10px;
}

#search input {
  margin: 0px 0px 0px 15px;
  height: 30px;
  border: none;
  vertical-align: top;
  background: transparent;
}

#search i {
  margin-right: 5px;
  margin-top: 3px;
  height: 25px;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 25px;
  vertical-align: top;
  cursor: pointer;
}

#search a {
  margin-right: 10px;
  margin-top: 10px;
}

.login-box {
  position: absolute;
  width: 40%;
  height: 80%;
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: rgba(19, 19, 19, 1);
  background-size: 20px 20px;
  box-shadow: 2px 2px 5px #333;
  border-radius: 5px;
}

.login-box input {
  position: relative;
  top: 20%;
  width: 50%;
  height: 30px;
  margin-top: 10px;
  margin-left: 35%;
  border: none;
  padding-left: 5px;
  opacity: 1;
}

.login-box img {
  position: relative;
  margin: auto;
  width: 70%;
  left: 85px;
  top: 5%;
}

.login-box button {
  position: relative;
  width: 28%;
  height: 35px;
  background-color: #428bca;
  color: #eee;
  border-radius: 3px;
  //font-weight: bold;
  font-size: 16px;
  top: 25%;
  margin-left: 58%;
  border: none;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #003e5d;
}

.login-img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}

.google-map {
  display: inline-block;
  margin-bottom: 60px;
}

.google-map td {
  width: 200px;
}

.library-info {
  display: inline-block;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 25px;
  text-align: justify;
  vertical-align: top;
}
